/* ============================
   HEADER SERVICASA
=============================== */

.header-servi {
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #134D9F;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Imagen en el fondo */
  .header-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4; 
    top: 0;
    left: 0;
  }
  
  
  .header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #19365e;
    opacity: 0.5;
  }
  
  /* Contenido centrado */
  .header-content {
    position: relative;
    z-index: 10;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  }
  
  .header-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .header-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  
  .btn-servi-header {
    background-color: #2963e2 !important;
    color: white !important;
    padding: 1rem 2rem !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
    text-decoration: none!important;
    transition: 0.3s ease !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.341) !important;
  }
  
  .btn-servi-header:hover {
    background-color: #e8e8e8 !important;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35)!important;
    color: #134D9F !important;
  }
  