.service-card {
    border-radius: 12px;
    padding: 20px;
    transition: all 0.2s ease;
  }
  
  .service-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }
  
  .servi-background {
    background-color: #f2f2f2;
  
  }
  .txt-primary {
    color: #134D9F !important;
  }


.txt-secondary {
  color: #2b3958 !important;  
  
}

 /* Botón principal */
 .btn-servi {
  background-color: #134D9F !important;
  color: white !important;
  padding: 0.7rem 1.5rem !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  text-decoration: none!important;
  transition: 0.3s ease !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25) !important;
}

.btn-servi:hover {
  background-color: #e8e8e8 !important;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35)!important;
  color: #134D9F !important;
}

/*Boton secundario*/

.btn-servi-secondary {
  background-color: #C62828 !important;
  color: white !important;
  padding: 0.7rem 1.5rem !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  text-decoration: none!important;
  transition: 0.3s ease !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25) !important;
}

.btn-servi-secondary:hover {
  background-color: #e8e8e8 !important;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35)!important;
  color: #2b3958!important;
}
 
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  

  /* Estilo general de las pestañas */
.tabs-servi .nav-link {
  color: #2b3958 !important;   /* color de texto */
  font-weight: 600 !important; /* negrita */
}

/* Hover */
.tabs-servi .nav-link:hover {
    color: #2963e2 !important;
}

/* Tab activa */
.tabs-servi .nav-link.active {
  color: #134D9F !important;
  font-weight: 700 !important;
  background-color: transparent !important;
}